<!-- <div></div> -->


<!-- <section class="position" style="background-color: #516951;   padding: 20px; "> -->
  
  <!-- <div class="container position-relative"> -->
  
              <!-- <form class="p-3 p-sm-3" style="background-color: #516951;" method="post"> -->
              
                    <div class="contact-box">
                      <div class="contact-links" style="background-color: #516951;">
                        <h1>Get in touch</h1>
                        <div class="links">
                          <div class="link">
                            <a href="https://www.facebook.com/profile.php?id=100089998164734"><img src="https://img.freepik.com/free-psd/3d-square-with-facebook-logo_125540-1565.jpg" style="border-radius: 9px;" alt="facebook"></a>
                          </div>
                          <div class="link">
                            <a href="https://api.whatsapp.com/send?phone=0615449366"><img src="https://img.freepik.com/free-psd/glowing-whatsapp-logo-realistic-3d-circle_125540-2095.jpg?w=1480&t=st=1676367004~exp=1676367604~hmac=9a0f813327e97e015abdc706d09cd40c7ed7d84a66b49042b7ed7d66d7932c21" style="border-radius: 9px;" alt="whatsApp"></a>
                          </div>
                          <div class="link">
                            <a><img src="https://img.freepik.com/premium-vector/support-service-consultation-telemarketing-consultant-secretary-live-chat-banner-white-background-flat-banner-vector-illustration_476325-26.jpg?w=1480" style="border-radius: 9px;" alt="codepen"></a>
                          </div>
                          <div class="link">
                            <a><img src="https://img.freepik.com/free-vector/vector-icon-blue-envelope-isolated-background_134830-1232.jpg?w=1480&t=st=1676367450~exp=1676368050~hmac=8c82e2da85f6f543f589d67bf5f9e27de20fbf90103fb0958d6266436181212b" style="border-radius: 9px;" alt="email"></a>
                          </div>
                        </div>
                      </div>
                      <div class="contact-form-wrapper" style="background-color: #516951; padding-bottom: 15px; padding-right: 20px;">
                        <div class="justify-center mb-10 mt-1">
                          <h1>Contact us</h1>
                        </div>
                        <form>
                          <div class="form-item">
                            <input type="text" name="sender" required>
                            <label>Name:</label>
                          </div>
                          <div class="form-item">
                            <input type="text" name="email" required>
                            <label>Email:</label>
                          </div>
                          <div class="form-item">
                            <textarea class="" name="message" required></textarea>
                            <label>Message:</label>
                          </div>
                          <button class="submit-btn btn-sm" style="background-color: #FED607;">Send</button>  <br><br>
                        </form>
                      </div>
                    </div>
                
                    
          
       
    <!-- </div> -->
   <!-- </div>  -->
<!-- </section> -->


<!-- <section id="contact" class="contact-clean" style="color: rgb(33, 37, 41);background: rgb(38,38,38);">
    <h2 class="text-center" style="color: #DEAE05;font-size: 20px;">Contact us</h2>
    <form class="shadow-none"  #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" method="post" style="background: rgb(38,38,38);">
        <label class="form-label" style="color: rgb(229,229,229);font-size: 13px;">Fullnames</label>
        <input class="form-control form-control-sm"  id="fullname" ngModel name="fullname" type="text" style="border-radius: 10px;">
        <label class="form-label" style="color: rgb(229,229,229);font-size: 13px;">Email</label>
        <div class="mb-3"><input class="form-control form-control-sm" type="email"id="email" ngModel name="email"  style="border-radius: 10px;font-size: 13px;"></div>
        <label class="form-label" style="color: rgb(229,229,229);font-size: 13px;">Message</label>
        <textarea class="form-control" style="border-radius: 10px;" id="message" ngModel name="message" ></textarea>
        <div style="padding-top: 15px;"><button class="btn btn-sm text-capitalize w-100" type="submit" style="background: #DEAE05;border-radius: 10px;color: rgb(255,255,255);">send</button></div>
    </form>
</section> -->
