 <!-- <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
                          <div class="form-item">
                            <input type="text" name="sender"  formControlName="sender" required>
                            <label>Name:</label>
                          </div>
                          <div class="form-item">
                            <input type="text" name="email"  formControlName="email" required>
                            <label>Email:</label>
                          </div>
                          <div class="form-item">
                            <textarea class="" name="message"  formControlName="message" required></textarea>
                            <label>Message:</label>
                          </div>
                          <button class="submit-btn btn-sm" style="background-color: #FED607;" type="submit">Send</button>  <br><br>
                        </form>
                      </div>
                    </div>
                
                  -->
