.card{
    height: 10%;
    width: 30%;
}

.heading{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: var(--main-green);
    font-size: 25px;
    font-weight: bold;
}

.error-text
{
    color: var(--red);
}

.profile{
    background-color: var(--gray);
    color: var(--white);
    width: 30px;
    height: 30px;
}

.profile i{
    margin: auto;
}
.card-image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover
}
.card-img{
    height: 200px;
}