<div class="header">
  <h2 class="">ORDER REQUEST</h2>
</div>
 

<div class="flex flex-wrap justify-end m-6">
  <div  class="" >
    <select  (change)="onCategoryChange($event)" class="form-select">
        <option value="All">All</option>
        <option value="Pending">Pending</option>
        <option value="In-Progress">In-Progress</option>
        <option value="Cancelled">Cancelled</option>
        <option value="Completed">Completed</option>
        <!-- <option [(ngModel)]="filterSearch1" style="background-color: pink;"  *ngFor="let category of categories" [value]="category.categoryName">
          {{category.categoryName}}
        </option> -->
    </select>
  </div>
</div>

<div class="mb-11">

  <div class="flex flex-wrap w-fit mx-auto justify-center gap-4 ">

    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"  *ngFor="let t of tr | paginate: { itemsPerPage: 3, currentPage: p, totalItems: total }" >
      <div class="card-body">
        <h3 class="card-title justify-center">{{t.categoryName}}</h3>
        <button class="btn btn-ghost btnn" routerLink="/profile">Profile</button>

        <figure><img src="{{t.image}}" alt="" /></figure>
        <p class="w-3/4 mx-auto breed">{{t.breedName}}</p>
          <h6 class="age" >Age: {{t.age}} Months</h6>
        <h6 class="weigh">Weight: {{t.weight}} kg </h6>
        <h6 class=" desc">Description: {{t.description}}</h6>
        <h6 class="price"><b>Price: {{t.price}}</b></h6>
        <br>
        <div class="card-actions justify-center" *ngIf="(t.status).toUpperCase() === 'Pending'.toUpperCase()" >
          <button class="btn btn-sm btn-ghost btn1" (click)="approve(t.transactionID)" >Approve Order</button>
          <button class=" btn btn-sm btn-ghost btn2" (click)="declineOrder(t.transactionID)" *ngIf="this.isButtonVisible" (click)="this.isButtonVisible = false">Decline Order</button>
        </div>

         <div class="card-actions justify-center" *ngIf="(t.status).toUpperCase() === 'In-progress'.toUpperCase()">
          <button  class="btn btn-sm btn-ghost btn1" (click)="completeOrder(t.transactionID)" >Complete Order</button>
          <button class=" btn btn-sm btn-ghost btn2" (click)="declineOrder(t.transactionID)" *ngIf="this.isButtonVisible" (click)="this.isButtonVisible = false">Cancel Order</button>
        </div>

        <div class="card-actions justify-center" *ngIf="(t.status).toUpperCase() === 'cancelled'.toUpperCase()">
          <button  class="btn btn-sm btn-ghost" disabled (click)="completeOrder(t.transactionID)" >Cancelled Order</button>
        </div>

        <div class="card-actions justify-center" *ngIf="(t.status).toUpperCase() === 'complete'.toUpperCase()">
          <button  class="btn btn-sm btn-ghost" disabled (click)="completeOrder(t.transactionID)" >Completed Order</button>
        </div>

      </div>
        
      </div> 
 </div>
 <br>
 <br>

 <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
 <br>
 <br>
 <br>

</div>

  
 
 

<app-footer></app-footer>

