<div class="header">
  <h2 class="">ORDER REQUEST</h2>
</div>
 
  <div class="flex flex-wrap w-fit mx-auto justify-center gap-4 ">

    <div class="card card-compact text-center mx-auto w-80 bg-neutral text-neutral-content"  *ngFor="let t of tr" >
      <div class="card-body">
        <h3 class="card-title justify-center">{{t.categoryName}}</h3>
        <button class="btn btn-ghost btnn" routerLink="/profile">Profile</button>

        <figure><img src="{{t.image}}" alt="" /></figure>
        <p class="w-3/4 mx-auto breed">{{t.breedName}}</p>
          <h6 class="age" >Age: {{t.age}} Months</h6>
        <h6 class="weigh">Weight: {{t.weight}} kg </h6>
        <h6 class=" desc">Description: {{t.description}}</h6>
        <h6 class="price"><b>Price: {{t.price}}</b></h6>
        <br>
        <div class="card-actions justify-center">
          <button class="btn btn-sm btn-ghost btn1" >Approve</button>
          <button class=" btn btn-sm btn-ghost btn2" (click)="declineOrder(t.transactionID)" *ngIf="this.isButtonVisible" (click)="this.isButtonVisible = false">Decline</button>
        </div>

      </div>
        
      </div> 

 </div>
