
footer{
    background-color: #516951;
  
        position: fixed;
        height: 60px; 
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
}
p{
    color: #fff;
}
.rights{
    padding-bottom: 0rem;
    margin-bottom: -12px;
}
.design{
    padding-top: 0rem;
    margin-top: 0rem;
}

