<div class="header fixed top-0 w-full flex justify-between p-4 lg:px-11" style="background-color:#516951 ;">
    
    <!-- <div class="logo">
        <img src="/src/assets/logo.png" >
    </div> -->
    <div class="desktop-nav hidden lg:flex gap-2">
        <ul class="menu menu-horizontal gap-4">

            <li>
                <a href="" routerLink="/home">Home</a>
            </li>
              <li>
                <a href="" routerLink="/rate">Rate</a>
            </li>
            <li>
                <a href="" routerLink="/notifications">Notifications</a>
            </li>
            <li>
                <a href="" routerLink="/seller">Seller</a>
            </li>
              <li>
                <a href="" routerLink="/order-history">Order history</a>
            </li>
              <li>
                <a href="" routerLink="/notification">Notifications</a>
            </li>
              <li>
                <a href="" routerLink="/order-request">Order request</a>
            </li>
              <li>
                <a>logout</a>
            </li>
        </ul>
    </div>
   
    <!-- <div class="navbar-end">
      <div class="menu menu-horizontal gap-4">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li>
            <a href="" routerLink="/home">Home</a>
        </li>
          <li>
            <a href="" routerLink="/rate">Rate</a>
        </li>
        <li>
            <a href="" routerLink="/notifications">Notifications</a>
        </li>
        <li>
            <a href="" routerLink="/seller">Seller</a>
        </li>
          <li>
            <a href="" routerLink="/order-history">Order history</a>
        </li>
          <li>
            <a href="" routerLink="/notification">Notifications</a>
        </li>
          <li>
            <a href="" routerLink="/order-request">Order request</a>
        </li>
          <li>
            <a>logout</a>
        </li>
        </ul>
        
      </div>
     
    </div>
    -->
