<div class="header top-0 w-full flex justify-between p-4 lg:px-11">

  <div class="logo-mobile text-3xl md:text-3xl lg:text-4xl ">
    <img src="../../../assets/logo.png">
  </div>

  <div class="desktop-nav hidden lg:flex gap-2">
      <ul class="menu menu-horizontal gap-4">
  
            <li class="mx-4">
                <a href="#" routerLink="/home">Home</a>
            </li>
              <li class="mx-4">
                <a href="#" routerLink="/rate">Rate</a>
            </li >
            <li class="mx-4">
                <a href="#" routerLink="/notifications">Notifications</a>
            </li>
            <li class="mx-4">
                <a href="#" routerLink="/seller">Seller</a>
            </li>
              <li class="mx-4">
                <a href="#" routerLink="/order-history">Order history</a>
            </li>
              <li class="mx-4">
                <a href="#" routerLink="/notification">Notifications</a>
            </li>
              <li class="mx-4">
                <a href="#" routerLink="/order-request">Order request</a>
            </li>
              <li class="mx-4">
                <a>logout</a>
            </li>
        </ul>
    </div>
        </div> 
    
        <nav id="header" class="w-full z-30 top-0 py-1 bg-neutral">
          <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-6 py-3">

      <div class="small-nav hidden sm:flex gap-2">

        <label for="menu-toggle" class="cursor-pointer md:hidden block">
          <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
              <title>menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
      </label>

      <div class="hidden md:flex md:items-center md:w-auto w-full order-3 md:order-1" id="menu">
        <nav>
          <ul class="menu menu-horizontal gap-4">
  
            <li class="mx-4">
                <a href="#" routerLink="/home">Home</a>
            </li>
              <li class="mx-4">
                <a href="#" routerLink="/rate">Rate</a>
            </li >
            <li class="mx-4">
                <a href="#" routerLink="/notifications">Notifications</a>
            </li>
            <li class="mx-4">
                <a href="#" routerLink="/seller">Seller</a>
            </li>
              <li class="mx-4">
                <a href="#" routerLink="/order-history">Order history</a>
            </li>
              <li class="mx-4">
                <a href="#" routerLink="/notification">Notifications</a>
            </li>
              <li class="mx-4">
                <a href="#" routerLink="/order-request">Order request</a>
            </li>
              <li class="mx-4">
                <a>logout</a>
            </li>
        </ul>
        </nav>
      </div>

    </div>
          </div>
      





<!-- 
        <nav id="header" class="w-full z-30 top-0 py-1 bg-neutral">
          <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-6 py-3">
        
              <label for="menu-toggle" class="cursor-pointer md:hidden block">
                  <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                      <title>menu</title>
                      <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                  </svg>
              </label>
              <input class="hidden" type="checkbox" id="menu-toggle" />
        
              <div class="hidden md:flex md:items-center md:w-auto w-full order-3 md:order-1" id="menu">
                  <nav>
                    <ul class="menu menu-horizontal gap-4">
  
                      <li class="mx-4">
                          <a href="#" routerLink="/home">Home</a>
                      </li>
                        <li class="mx-4">
                          <a href="#" routerLink="/rate">Rate</a>
                      </li >
                      <li class="mx-4">
                          <a href="#" routerLink="/notifications">Notifications</a>
                      </li>
                      <li class="mx-4">
                          <a href="#" routerLink="/seller">Seller</a>
                      </li>
                        <li class="mx-4">
                          <a href="#" routerLink="/order-history">Order history</a>
                      </li>
                        <li class="mx-4">
                          <a href="#" routerLink="/notification">Notifications</a>
                      </li>
                        <li class="mx-4">
                          <a href="#" routerLink="/order-request">Order request</a>
                      </li>
                        <li class="mx-4">
                          <a>logout</a>
                      </li>
                  </ul>
                  </nav>
              </div>
        
         
        
             
          </div>
        </nav> -->