.heading{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #516951;
    font-size: 25px;
}
.container{
 
    margin: auto;
}
.head{
    background-color: #516951;
}
.act{
    text-align: center;
}
th{
    text-align: center;
}
td{
    text-align: center;
}
.h1{

}