<div class="heading bold">
<h1>Order History</h1>
</div>
<div class="container mx-auto justify-center">

        <table class="table table-compact w-full">
          <thead>
            <tr>
              <th class="head ">No</th> 
              <th class="head">Order#</th> 
              <th class="head">Status</th> 
              <th class="head">Action</th> 
            </tr>
          </thead> 
          <tbody>
            <tr>
              <th >1</th> 
              <td >G560872</td> 
              <td >pending</td> 
              <td ><label for="my-modal"><i class="fas fa-eye"></i></label></td> 
              <!-- The button to open modal -->
                  <!-- The button to open modal -->
                  <!-- Put this part before </body> tag -->
                  <input type="checkbox" id="my-modal" class="modal-toggle" />
                  <div class="modal">
                    <div class="modal-box">
                      <div class="card card-compact text-center mx-auto w-80 bg-neutral text-neutral-content" >
                        <div class="card-body">
                          <ul class="steps steps-horizontal lg:steps-vertical">
                            <li class="step step-primary">Pending</li>
                            <li class="step step-primary">In-progress</li>
                            <li class="step">Cancelled</li>
                            <li class="step">Completed</li>
                          </ul>
                          <br>
                          <h4>Order: #2346</h4>
                          <figure><img src="../../../assets/" alt="" /></figure>
                          <h3 class="card-title justify-center">GOAT</h3>
                          <p class="w-3/4 mx-auto desc">Kalahari Goats R800.00 Each 6 to 13 Months</p>
                          <h3 class="color">Brown and black</h3>
                          <h3 class="weigh">Weight 40kg to 75kg </h3>
                          <h3 class="address"><i class="fas fa-map-marker-alt"></i>soshanguve</h3>
                          <h3 class="price"><b>Price: R8000</b></h3>
                          <br>
                          <div class="card-actions justify-center">
                            <button class="btn btn-sm btn-ghost btn1" routerLink="/order-history">Back</button>
                            <button class=" btn btn-sm btn-ghost btn2" >Rate</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </tr>
            <tr>
              <th >2</th> 
              <td >G53086</td> 
              <td >pending</td> 
              <td ><label for="my-modal"><i class="fas fa-eye"></i></label></td> 
              <!-- The button to open modal -->
                  <!-- The button to open modal -->
                  <!-- Put this part before </body> tag -->
                  <input type="checkbox" id="my-modal" class="modal-toggle" />
                  <div class="modal">
                    <div class="modal-box">
                      <h3 class="font-bold text-lg">Congratulations random Internet user!</h3>
                      <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
                      <div class="modal-action">
                        <label for="my-modal" class="btn">Yay!</label>
                      </div>
                    </div>
                  </div>
            </tr>
            <tr>
              <th >3</th> 
              <td >G2359</td> 
              <td >completed</td> 
              <td ><label for="my-modal"><i class="fas fa-eye"></i></label></td> 
              <!-- The button to open modal -->
                  <!-- The button to open modal -->
                  <!-- Put this part before </body> tag -->
                  <input type="checkbox" id="my-modal" class="modal-toggle" />
                  <div class="modal">
                    <div class="modal-box">
                      <h3 class="font-bold text-lg">Congratulations random Internet user!</h3>
                      <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
                      <div class="modal-action">
                        <label for="my-modal" class="btn">Yay!</label>
                      </div>
                    </div>
                  </div>
            </tr>

            <tr>
              <th >5</th> 
              <td >G45657</td> 
              <td >completed</td> 
              <td ><label for="my-modal"><i class="fas fa-eye"></i></label></td> 
              <!-- The button to open modal -->
                  <!-- The button to open modal -->
                  <!-- Put this part before </body> tag -->
                  <input type="checkbox" id="my-modal" class="modal-toggle" />
                  <div class="modal">
                    <div class="modal-box">
                      <h3 class="font-bold text-lg">Congratulations random Internet user!</h3>
                      <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
                      <div class="modal-action">
                        <label for="my-modal" class="btn">Yay!</label>
                      </div>
                    </div>
                  </div>
            </tr>
            <tr>
            </tr>
          </tbody> 
        </table>
      </div>


