.rounded-full{
    background-color: var(--gray);
}
.rounded-full i{
    color: var(--white);
    margin: auto;
    margin-top: 20%;
    margin-left: 10px;
    font-size: 50px;
}

.heading{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: var(--main-green);
    font-size: 25px;
    font-weight: bold;
}