<div class="bodysz">
  <h1>My livestock</h1>
  <app-availablelivestock  (newItemEvent)="addItem($event)" (useridd)="addUserId($event)"></app-availablelivestock>
</div>






<input type="checkbox" id="my-modal" class="modal-toggle" />

  <div class="modal">
    <div class="modal-box">
 
      <div class="card card-compact text-center mx-auto w-80 bg-neutral text-neutral-content">
      
        <div class="card-body">
            <figure><img src="../../../../assets/bg1.jpeg" alt="" /></figure>
            <h3 class="card-title justify-center">Are you sure?</h3>
            <p class="w-3/4 mx-auto desc">Binding<span>will be permanantely removed</span></p>
            <br>
            <div class="card-actions justify-center">
              <button class="rsvBtn"  for="my-modal" (click)=closeModal()>`Cancel</button>
              <button class="rsvBtn" (click)=deleteMyLivestock() >delete</button>
            </div>
        </div>
      </div>
 
      
    </div>
  </div>

