<div class="bodysz">
  <app-availablelivestock  (newItemEvent)="addItem($event)"></app-availablelivestock>
</div>

<div class="row">
    <div class="column" *ngFor="let animal of livestocks | filter: filterTerm;let x = index" >
   <div *ngIf="animal.status">
      <div class="card card-compact shadow-sm" style="margin: 1rem;">
        <figure><img src="{{animal.image}}" alt="Shoes" /></figure>
        <div class="card-body">
          <div class="headingss">
            <h3 class="card-title">{{animal.categoryName}}</h3>
            <h4>{{animal.createdAT | date:'dd-MM-yy'}}</h4>
          </div>
            <h2 class="breed" style="margin-left: -5px; color: #11998e;
            color: -webkit-linear-gradient(to right, #38ef7d, #11998e);color: linear-gradient(to right, #0000, #11998e);"
            >{{animal.breedName}}</h2>
            <p style="font-size: .5rem;"><span> Description:</span> {{animal.description}}</p>
            <p><span> Weight:</span> {{animal.weight}}<span>kgs</span></p>
            <p><span> Age:</span> {{animal.age}}</p>
            <p><span> Color:</span> a dog chews shoes whose shoes does he choose?</p>
            <div style="margin-bottom: 0rem;" class="card-actions justify-between">

              <div>
                <h5 style="font-size: 1rem; color: #11998e;
                color: -webkit-linear-gradient(to right, #38ef7d, #11998e);color: linear-gradient(to right, #38ef7d, #11998e);"><span></span>{{animal.price}}</h5>  
              </div>
             
              <div>
                <a [routerLink]="['/edit-livestock',animal.livestockID]" routerLinkActive="router-link-active" ><i class="fa fa-pencil-alt mx-2" aria-hidden="true"></i></a>
                <label for="my-modal"><i class="fa fa-trash" aria-hidden="true"></i></label>
                <!-- The button to open modal -->
                  <!-- <label for="my-modal" class="btn">open modal</label> -->
</div>
</div>

<input type="checkbox" id="my-modal" class="modal-toggle" />
<div class="modal" *ngFor="let animal of livestok">
    <div class="modal-box" style="background-color: red;padding: 0;">
        <div class="flex flex-col p-5 rounded-lg shadow bg-white">
          <div class="flex flex-col items-center text-center">
              <svg class="w-12 h-12 fill-current text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 5.99L19.53 19H4.47L12 5.99M12 2L1 21h22L12 2zm1 14h-2v2h2v-2zm0-6h-2v4h2v-4z"/></svg>
              <div style="margin: 2rem;" class="">
                    <h2 style="margin-bottom: 10px;" class="mt-2 font-semibold text-gray-800">Delete livestock?</h2>
                    <p class="mt-2 text-sm text-gray-600 leading-relaxed">Are you sure you want to delete <span style="color: var(--main-green);">{{animal.breedName}}</span>?</p>
                    <p style="font-size: 10px;font-style:bold">with id: <span style="color: var(--main-green);">{{animal.livestockID}}</span></p>
                    <p style="color: rgb(255, 64, 64);margin-top: 10px;">You cant undo this action!!</p>
              </div>
          </div>

          <div class="flex items-center mt-3" style="padding:1rem 3rem;">
              <button  (click)=closeModal() class="flex-1 px-4 py-2 bg-gray-100 hover:bg-gray-200 text-gray-800 text-sm font-medium rounded-md btnCancel">
              Cancel
              </button>
          
              <button (click)=deleteMyLivestock()  class="flex-1 px-4 py-2 ml-2 bg-yellow-500 hover:var(--main-green) text-white text-sm font-medium rounded-md btnDelete">
              Delete
              </button>
          </div>
        </div>
    </div>
</div>

