<div class="bodysz">
  <h1>My livestock</h1>
  <app-availablelivestock  (newItemEvent)="addItem($event)" (useridd)="addUserId($event)"></app-availablelivestock>
</div>

</ul>
</div>

<div class="row">
    <div class="column" *ngFor="let animal of livestocks | filter: filterTerm;let x = index">
      <div class="card card-compact shadow-sm" style="margin: 1rem;">
        <figure><img src="{{animal.image}}" alt="Shoes" /></figure>
        <div class="card-body">
          <div class="headingss">
            <h3 class="card-title">{{animal.categoryName}}</h3>
            <h4>{{animal.createdAT | date:'dd-MM-yy'}}</h4>
          </div>
            <h2 class="breed" style="margin-left: -5px; color: #11998e;
            color: -webkit-linear-gradient(to right, #38ef7d, #11998e);color: linear-gradient(to right, #0000, #11998e);"
            >{{animal.breedName}}</h2>
            <p style="font-size: .5rem;"><span> Description:</span> {{animal.description}}</p>
            <p><span> Weight:</span> {{animal.weight}}<span>kgs</span></p>
            <p><span> Age:</span> {{animal.age}}</p>
            <p><span> Color:</span> a dog chews shoes whose shoes does he choose?</p>
            <div style="margin-bottom: 0rem;" class="card-actions justify-between">

              <div>
                <h5 style="font-size: 1rem; color: #11998e;
                color: -webkit-linear-gradient(to right, #38ef7d, #11998e);color: linear-gradient(to right, #38ef7d, #11998e);"><span></span>{{animal.price}}</h5>  
              </div>
             
              <div>
                <a [routerLink]="['/edit-livestock',animal.livestockID]" routerLinkActive="router-link-active" ><i class="fa fa-pencil-alt mx-2" aria-hidden="true"></i></a>
                <label for="my-modal"><i class="fa fa-trash" aria-hidden="true"></i></label>
                <!-- The button to open modal -->
                  <!-- <label for="my-modal" class="btn">open modal</label> -->

                  <!-- Put this part before </body> tag -->
                  <input type="checkbox" id="my-modal" class="modal-toggle" />
                  <div class="modal">
                    <div class="modal-box">
                      <h3 class="text-lg text-center">Are you sure?</h3>
                      <div class="modal-action">
                        <label for="my-modal" class="btn ">Yes</label>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- <button type="button" (click)="reserve(x)" class="rsvBtn" >Reserve</button> -->
              <!-- <button style="padding: 0rem;" class="btn3" ><i style="background-color:white;color: red;margin: 0rem;padding: 0rem;height: 100%;width: 100%;" class="fas fa-pencil-alt"></i></button> -->
              <!-- <button (click)="reserve(x)" style="background-color: black;" class="" ><i style="background-color:white;color: black;" class="fas fa-trash" aria-hidden="true"></i></button> -->
            </div>
        </div>
      </div>
    </div>
  
  </div>

<input type="checkbox" id="my-modal" class="modal-toggle" />

  <div class="modal">
    <div class="modal-box">
 
      <div class="card card-compact text-center mx-auto w-80 bg-neutral text-neutral-content">
      
        <div class="card-body">
            <figure><img src="../../../../assets/bg1.jpeg" alt="" /></figure>
            <h3 class="card-title justify-center">Are you sure?</h3>
            <p class="w-3/4 mx-auto desc">Binding<span>will be permanantely removed</span></p>
            <br>
            <div class="card-actions justify-center">
              <button class="rsvBtn"  for="my-modal" (click)=closeModal()>`Cancel</button>
              <button class="rsvBtn" (click)=deleteMyLivestock() >delete</button>
            </div>
        </div>
      </div>
 
      
    </div>
  </div>


