<div class="grid grid-cols-6 gap-4">
    <div class="col-start-1 col-end-1 col-span-1">
        <app-sidebar></app-sidebar>
    </div>


    <div class="col-end-7 col-span-5 mr-4" >
        <div id="pdfReport" #pdfReport>

        <div class="heading bold justify-center">
            <h1>Dashboard</h1>
        </div>
        
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-3">
                    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <div class="flex flex-wrap">
                            <div>
                                <p class="">Total number of</p>
                                <p class="">Registered Users</p>
                            </div>
                            <div>
                                <span class="bg-green-50 rounded-full p-4 m-2 text-green-500"><b class="">{{users?.length}}</b></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span-3">
                    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <div class="flex flex-wrap">
                            <div>
                                <p class="">Total number of</p>
                                <p class="">Added Livestocks</p>
                            </div>
                            <div>
                                <span class="bg-blue-50 rounded-full p-4 m-2 text-blue-500"><b class="">{{livestock?.length}}</b></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span-3">
                    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <div class="flex flex-wrap">
                            <div>
                                <p class="">Total number of</p>
                                <p class="">Added Categories</p>
                            </div>
                            <div>
                                <span class="bg-yellow-50 rounded-full p-4 m-2 text-yellow-500"><b class="">{{category?.length}}</b></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span-3">
                    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <div class="flex flex-wrap">
                            <div>
                                <p class="">Total number of</p>
                                <p class="">Added Breed</p>
                            </div>
                            <div>
                                <span class="bg-red-50 rounded-full p-4 m-2 text-red-500"><b class="">{{breed?.length}}</b></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
    
    
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-6">
                    <div class="max-w-lg p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <div *ngIf="load2">
                            <app-users></app-users>
                        </div>
                    </div>
                </div>
                <div class="col-span-6">
                    <div class="max-w-lg p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <!-- <div *ngIf="load3">
                            <app-livestocks></app-livestocks>
                        </div> -->
                    </div>
                </div>
                <!-- <div class="col-span-3">
                    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <div class="flex flex-wrap">
                            <div>
                                <p class="">Total number of</p>
                                <p class="">Orders</p>
                            </div>
                            <div>
                                <span class="bg-yellow-50 rounded-full p-4 m-2 text-yellow-500"><b class="">{{allOrder}}</b></span>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-span-3">
                    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <div class="flex flex-wrap">
                            <div>
                                <p class="">Total number of</p>
                                <p class="">Pending Orders</p>
                            </div>
                            <div>
                                <span class="bg-yellow-50 h- rounded-full p-4 m-2 text-yellow-500"><b class="">3</b></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span-3">
                    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <div class="flex flex-wrap">
                            <div>
                                <p class="">Total number of</p>
                                <p class="">Orders</p>
                            </div>
                            <div>
                                <span class="bg-yellow-50 h- rounded-full p-4 m-2 text-yellow-500"><b class="">{{allOrder}}</b></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span-3">
                    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <div class="flex flex-wrap">
                            <div>
                                <p class="">Total number of</p>
                                <p class="">Orders</p>
                            </div>
                            <div>
                                <span class="bg-yellow-50 h- rounded-full p-4 m-2 text-yellow-500"><b class="">{{allOrder}}</b></span>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-span-6">
                    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <div class="flex flex-wrap">
                            <div>
                                <p class="">Total number of</p>
                                <p class="">Added Breed</p>
                            </div>
                            <div>
                                <span class="bg-red-50 rounded-full p-4 m-2 text-red-500"><b class="">{{breed?.length}}</b></span>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
          
        <div class="flex flex-wrap justify-end my-4">
            <button class="btn bg-green-700 border-none btn-sm" (click)="downloadAsPDF()"><i class="fa fa-download mx-2" aria-hidden="true"></i> Export To PDF</button>
        </div>
    </div>

  

    
</div>