
<section class="carousel" aria-label="Gallery">
  <ol class="carousel__viewport" >
    <li id="carousel__slide1"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper">
        <div class="carousel-texts">
          <h3 > <span style="font-weight: 700;">Thenga</span>zonke</h3>
          <h3 >livestock market</h3>
          <p >Number one livestock market</p>
        </div>
        <div class="absolute flex justify-between transform -translate-y-1/2  land_button" >
          <button class="" [routerLink]="['/auth/register']">get started</button>
         </div>
      </div>
        <a href="#carousel__slide4"
           class="carousel__prev">Go to last slide</a>
        <a href="#carousel__slide2"
           class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide2"
        tabindex="0"
        class="carousel__slide">
        <div class="carousel__snapper" style=" background-image: url(../../../assets/images/seller.jpeg);">
          <div class="carousel-texts">
            <h3> Selling<span> livestock?</span></h3>
            <p>Sell vetted and healthy cows </p>
          </div>
          <div class="absolute flex justify-between transform -translate-y-1/2  land_button">
            <button class="" [routerLink]="['/auth/register']" routerLinkActive="router-link-active" >Register</button>
           </div>
        </div>
      <a href="#carousel__slide1"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide3"
         class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide3"
        tabindex="0"
        class="carousel__slide">
        <div class="carousel__snapper" style=" background-image: url(../../../assets/images/chickens-on-the-field-ss220820-1024x597.jpeg);">
          <div class="carousel-texts">
            <h3 style="background-color: transparent;color:white"> Available for any<span style="font-weight: 700;font-size: 3rem;"> occasion</span>.</h3>
            <p>Weight, quantity even <span style="color: var(--yellow);font-size: 1rem;">colour</span></p>
          </div>
          <div class="absolute flex justify-between transform -translate-y-1/2  land_button">
            <button class="" [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >Buy</button>
           </div>
        </div>
      <a href="#carousel__slide2"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide4"
         class="carousel__next">Go to next slide</a>
    </li>

  </ol>
  <aside class="carousel__navigation">
    <ol class="carousel__navigation-list">
      <li class="carousel__navigation-item">
        <a href="#carousel__slide1"
           class="carousel__navigation-button">Go to slide 1</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide2"
           class="carousel__navigation-button">Go to slide 2</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide3"
           class="carousel__navigation-button">Go to slide 3</a>
      </li>
    
    </ol>
  </aside>
</section>


<div class="bodysz">
    <h1>Available livestock</h1>
    <h3>Healthy, Fresh and affordable livestock! If you can't collect we will deliver to you</h3>
   <app-availablelivestock (newItemEvent)="addItem($event)"></app-availablelivestock>
 </div>
<app-contact-us></app-contact-us>




<input type="checkbox" id="my-modal" class="modal-toggle" />
<div class="modal" *ngFor="let animal of livestok">
  <div class="modal-box">
    <div class="card card-compact text-center mx-auto w-80 bg-neutral text-neutral-content">
      <div class="card-body" >
          <figure><img class="rounded" src="{{animal.image}}" alt="" /></figure>
          <h3 class="card-title justify-center head3">{{animal.categoryName}}</h3>
          <h3 class="card-title justify-center address head3">{{animal.description}}</h3>
          <h3 class="color head3">{{animal.color}}</h3>
          <h3 class="weigh head3">{{animal.weight}}</h3>
          <h3 class="address head3"><i class="fas fa-map-marker-alt"></i>{{animal.address}}</h3>
          <h3 class="price head3"><b>{{animal.price}}</b></h3>
          <div class="card-actions justify-between">
              <label for="my-modal"  style="color:black;"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</label>
                <button class=""  for="my-modal" (click)="closeModal()">Back</button>
                <button class="rsvBtn" [routerLink]="['/auth/login']">Add to cart</button>
          </div>
      </div>
    </div>
  </div>
</div>
