
<section class="carousel" aria-label="Gallery">
  <ol class="carousel__viewport" >
    <li id="carousel__slide1"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper">
        <!-- <img src="../../../assets/images/Livestock_grazing_in_Armenia.jpeg" alt=""> -->
       
        <div class="carousel-texts">
          <h3 > <span style="font-weight: 700;">Thenga</span>zonke</h3>
          <h3 >livestock market</h3>
          <p >Number one livestock market</p>
        </div>
        <div class="absolute flex justify-between transform -translate-y-1/2  land_button" >
          <button class="" [routerLink]="['/auth/register']">get started</button>
         </div>
      </div>
        <a href="#carousel__slide4"
           class="carousel__prev">Go to last slide</a>
        <a href="#carousel__slide2"
           class="carousel__next">Go to next slide</a>
      
    </li>
    <li id="carousel__slide2"
        tabindex="0"
        class="carousel__slide">
        <div class="carousel__snapper" style=" background-image: url(../../../assets/images/seller.jpeg);">
          <!-- <img src="../../../assets/images/seller.jpeg" alt=""> -->
         
          <div class="carousel-texts">
            <h3> Selling<span> livestock?</span></h3>
            <p>Sell vetted and healthy cows </p>
          </div>
          <div class="absolute flex justify-between transform -translate-y-1/2  land_button">
            <button class="" [routerLink]="['/auth/register']" routerLinkActive="router-link-active" >Register</button>
           </div>
        </div>
      <a href="#carousel__slide1"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide3"
         class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide3"
        tabindex="0"
        class="carousel__slide">
        <div class="carousel__snapper" style=" background-image: url(../../../assets/images/chickens.jpeg);">
          <!-- <img src="../../../assets/images/chickens.jpeg" alt=""> -->
         
          <div class="carousel-texts">
            <h3 style="background-color: transparent;color:white"> Available for any<span style="font-weight: 700;font-size: 3rem;"> occasion</span>.</h3>
            <p>Weight, quantity even <span style="color: var(--yellow);font-size: 1rem;">colour</span></p>
          </div>
          <div class="absolute flex justify-between transform -translate-y-1/2  land_button">
            <button class="" [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >Buy</button>
           </div>
        </div>
      <a href="#carousel__slide2"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide4"
         class="carousel__next">Go to next slide</a>
    </li>
    <!-- <li id="carousel__slide4"
        tabindex="0"
        class="carousel__slide">
        <div class="carousel__snapper">
          <img src="../../../assets/images/Livestock_grazing_in_Armenia.jpeg" alt="">
         
          <div class="carousel-texts">
            <h3 style="background-color: transparent;color:white"> <span style="font-weight: 700;font-size: 3rem;">Thengazonke</span> livestock market</h3>
            <p>Number one livestock market</p>
          </div>
          <div class="absolute flex justify-between transform -translate-y-1/2  land_button" style="right: 10rem; top: 60%;width: auto;">
            <button style="width:10rem;font-size: 10px; height: .5rem;" class="btn">get started</button>
           </div>
        </div>
      <a href="#carousel__slide3"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide1"
         class="carousel__next">Go to first slide</a>
    </li> -->
  </ol>
  <aside class="carousel__navigation">
    <ol class="carousel__navigation-list">
      <li class="carousel__navigation-item">
        <a href="#carousel__slide1"
           class="carousel__navigation-button">Go to slide 1</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide2"
           class="carousel__navigation-button">Go to slide 2</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide3"
           class="carousel__navigation-button">Go to slide 3</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide4"
           class="carousel__navigation-button">Go to slide 4</a>
      </li>
    </ol>
  </aside>
</section>
<!-- <section>
    <h1>Available livestock</h1>
        <app-search></app-search>
        <app-contact-us></app-contact-us>
</section> -->


<!-- <div class="w-full carousel bdy">
  <div id="slide1" class="relative w-full carousel-item">
    <img src="../../../assets/cows-g4651f9a5c_1920.jpg" class="w-full"> 
 
    
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-10 top-1/2 land_button">
     <button class="">get started</button>
    </div>

    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="/components/carousel#slide4" class="carousel-center" style="color: white;">❮</a> 
      <a href="/components/carousel#slide2" class="carousel-center"  style="color: white;">❯</a>
    </div>
  
  </div> 

  <div id="slide2" class="relative w-full pt-20 carousel-item">
    <img src="https://picsum.photos/id/501/800/300" class="w-full"> 
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="/components/carousel#slide1" class="btn btn-circle">❮</a> 
      <a href="/components/carousel#slide3" class="btn btn-circle">❯</a>
    </div>
  </div> 
  <div id="slide3" class="relative w-full pt-20 carousel-item">
    <img src="https://picsum.photos/id/502/800/300" class="w-full"> 
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="/components/carousel#slide2" class="btn btn-circle">❮</a> 
      <a href="/components/carousel#slide4" class="btn btn-circle">❯</a>
    </div>
  </div> 
  <div id="slide4" class="relative w-full pt-20 carousel-item">
    <img src="https://picsum.photos/id/503/800/300" class="w-full"> 
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="/components/carousel#slide3" class="btn btn-circle">❮</a> 
      <a href="/components/carousel#slide1" class="btn btn-circle">❯</a>
    </div>
  </div>
</div> -->



<div class="bodysz">
    <h1>Available livestock</h1>
   <app-availablelivestock (newItemEvent)="addItem($event)"></app-availablelivestock>
 </div>
 <app-contact-us></app-contact-us>


<input type="checkbox" id="my-modal" class="modal-toggle" />
<div class="modal" *ngFor="let animal of livestok">
 <div class="modal-box">
   <div class="card card-compact text-center mx-auto w-80 bg-neutral text-neutral-content">
     <div class="card-body" >
       <figure><img src="{{animal.image}}" alt="" /></figure>
       <h3 class="card-title justify-center head3">{{animal.categoryName}}</h3>
       <p class="w-3/4 mx-auto desc">{{animal.description}}</p>
       <h3 class="color head3">Brown and black</h3>
       <h3 class="weigh head3">{{animal.weight}}</h3>
       <h3 class="address head3"><i class="fas fa-map-marker-alt"></i>soshanguve</h3>
       <h3 class="price head3"><b>{{animal.price}}</b></h3>
       <div class="card-actions justify-between">
       <label for="my-modal"  style="color:black;"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</label>
         <button class=""  for="my-modal" (click)="closeModal()">Back</button>
         <button class="rsvBtn" [routerLink]="['/auth/login']">Buy</button>
       </div>
     </div>
   </div>

   
 </div>
</div>
<app-contact-us></app-contact-us>