

  <div class="bodysz">
    <h1>Find livestock</h1>
    <app-availablelivestock (newItemEvent)="addItem($event)"></app-availablelivestock>
 </div>


 <input type="checkbox" id="my-modal" class="modal-toggle" />

 <div class="modal" *ngFor="let animal of livestok">
   <div class="modal-box">

     <div class="card card-compact text-center mx-auto w-80 bg-neutral text-neutral-content">
     
       <div class="card-body" >
         <figure><img src="{{animal.image}}" alt="" /></figure>
         <h3 class="card-title justify-center">{{animal.categoryName}}</h3>
         <p class="w-3/4 mx-auto desc">{{animal.description}}</p>
         <h3 class="color">Brown and black</h3>
         <h3 class="weigh">{{animal.weight}}</h3>
         <br>
         <h3 class="address"><i class="fas fa-map-marker-alt"></i>soshanguve</h3>
         <h3 class="price"><b>{{animal.price}}</b></h3>
         <br>
         <div class="card-actions justify-center">
           <button class="rsvBtn"  for="my-modal" (click)=closeModal()>Back</button>
           <button class="rsvBtn" routerLinkActive="router-link-active" >Buy</button>
         </div>
       </div>
     </div>

     
   </div>
 </div>

 



