  <div class="container my-12 mx-auto px-4 md:px-12">
    <div class="flex flex-wrap -mx-1 lg:-mx-4" >

    
        <div class="my-3 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3"  *ngFor="let animal of livestocks | paginate: { itemsPerPage: 3, currentPage: p, totalItems: total } | filter: filterTerm | filter: filterSearch;let x = index">

          
            <article class="overflow-hidden rounded-lg shadow-lg">

                <div class="img-card">
                    <a>
                        <img alt="Placeholder" class="block h-auto w-full" src="{{animal.image}}">
                    </a>
                </div>

                <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                    
                    <h1 class="text-lg">
                        <a class="no-underline hover:underline text-black" href="#">
                            {{animal.categoryName}}
                        </a>
                    </h1>
                    <p class="text-grey-darker text-sm">
                        {{animal.createdAT | date:'dd-MM-yy'}}
                    </p>
                </header>

                <div class="p-2 md:p-4">

                    <p><span><b>Breed: </b></span>{{animal.breedName}}</p>
                    <p class="description"><span><b>Description: </b></span> {{animal.description}}</p>
                    <p><span><b>Weight: </b></span> {{animal.weight}}<span>kgs</span></p>
                    <p><span><b>Age: </b></span> {{animal.age}}</p>
                    <p><span><b>Color: </b></span>{{animal.color}}</p>
                    <p><span><b>Gender: </b></span>{{animal.gender}}</p>
                </div>

                <footer class="flex items-center justify-between leading-none p-2 md:p-4">
                    <a class="flex items-center no-underline hover:underline text-black">
                     <p class="ml-2 text-sm">
                            R {{getPriceCurrency(animal.price)}}
                        </p>
                    </a>
                </footer>

            </article>
        

        </div>


    </div>
</div>

<pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
<br>
<br>
<br>
<br>
<br>
