

<!--- <app-landing></app-landing> -->

<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<!-- <app-profile></app-profile> -->
<!-- <app-order-request></app-order-request> -->
<!-- <app-home></app-home> -->


<!-- <div [ngSwitch]="myCurrentRoute">
    <div *ngSwitchCase="'/'">
         <app-header></app-header>
         <router-outlet></router-outlet>
         <app-footer></app-footer>
    </div>
    <div *ngSwitchCase="'auth/login'">
         <router-outlet></router-outlet>
    </div>
    <div *ngSwitchCase="'auth/register'">
        <router-outlet></router-outlet>
   </div>
</div> -->

<router-outlet></router-outlet>

