.main{
    // background-color: var(--main-green)
    background-image: url('../../../assets/bg1.jpeg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
}
h1{
    // font-family: 'Inter';
}
.header
{
    
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    background: linear-gradient(180deg, var(--yellow-dark) 50%, var(--gray-dark) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 30px;
}

.ractangel
{
    background: rgba(0, 0, 0, 0.52);
    height: 100vh;
}

.form-text{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.btn
{
    width: 164px;
    height: 41px;

    background: var(--yellow-dark);
    box-shadow: 0px 2px 2px var(--gray);
    border-radius: 9px;
    border-color: none;
}

.input
{
    color: var(--yellow-dark);
    background-color: var(--white);
}
i{
    color: var(--white);
}
span{
    background-color: var(--yellow-dark);
}

.register-btn{
    color: var(--yellow-dark);
}