<ul class="menu bg-base-100 w-56">
    <li>
        <a [routerLink]="['/admin']"> <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" /></svg> 
        Dashboard</a></li>
    <li><a [routerLink]="['/admin/users']"><i class="fas fa-users"></i>User Management</a></li>
    <li><a [routerLink]="['/admin/livestock']"><i class="fas fa-dog"></i>Livestock</a></li>
    <li><a [routerLink]="['/admin/order-history']"><i class="fa fa-shopping-cart"></i>Order</a></li>
    <li><a><i class="fa fa-star" aria-hidden="true"></i>Rate and Review</a></li>
    <li><a>Customer Support</a></li>
</ul>