.navbar{

    position: absolute;
    height: 50px;
    background: var(--white);
    border: 2px solid var(--main-green);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar .logo
{
    width: 100px;
}

.header-icon i{
    font-size: 20px;
    color: var(--gray-dark);
}