.bodysz{
    padding: 2rem;
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
//     .divit{
    
//         column-count: 5;
//         gap: 10px;
//         padding: 1rem;
// }
    
}
/* (768x1024) iPad 1 & 2, Portrait */
@media only screen and (min-width: 768px) and (max-width: 1024px){
//     .divit{
    
//         column-count: 4;
//         gap: 10px;
//         padding: 1rem;
// }
}
/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-width: 591px) and (max-width: 767px)  {
//     .divit{
    
//         column-count: 3;
//         gap: 10px;
//         padding: 1rem;
// }
}
 
/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-width: 481px) and (max-width: 590px)  {
//     .divit{
    
//         column-count: 2;
//         gap: 10px;
//         padding: 1rem;
// }
}
 
/* (2048x1536) iPad 3 */
@media only screen and (min-width: 320px) and (max-width: 480px) {
//     .divit{
    
//         column-count: 1;
//         gap: 10px;
//         padding: 1rem;
// }
.bodysz{
    padding: 0rem;
}

}
@media only screen and (max-width: 319px){ 
//     .divit{
    
//         column-count: 1;
//         gap: 10px;
//         padding: 1rem;
// }
.bodysz{
    padding: 0rem;
}

}