<!-- <app-header></app-header> -->

<div class="header"> Create Livestock</div>
<div align="center">
<select class="select select-lg select-bordered w-full max-w-xs">
  <option disabled selected>Select Livestock</option>
  <option>Cattle</option>
  <option>Goat</option>
  <option>Pig</option>
  <option>Poultry</option>
  <option>Sheep</option>
</select>


</div>

<div align="center">

<input type="text" placeholder="breed type" class="input input-bordered w-full max-w-xs" />
<select class="gender gender-lg gender-bordered w-full max-w-xs">
  <option disabled selected>Gender</option>
  <option>Male</option>
  <option>Female</option>
</select>
</div>

<div>
  <hr>
  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Image</span><br>
    </label>
    <input type="file" class="file-input file-input-bordered w-full max-w-xs" />
   
  </div>
</div>

<div align="center"><br>
  <textarea class="textarea textarea-bordered" placeholder="Descreption"></textarea>
</div>

<div align="center">
  <input type="text" placeholder="Months" class="month month-bordered w-full max-w-xs" />
  <input type="text" placeholder="Weight" class="weight weight-bordered w-full max-w-xs" />
</div>

<div align="center">
  <input type="text" placeholder="City/State" class="city city-bordered w-full max-w-xs" />
  <input type="text" placeholder="Province" class="provin provin-bordered w-full max-w-xs" />
  <input type="text" placeholder="Postal Code" class="code code-bordered w-full max-w-xs" />

</div>

<div align="center">
  <input type="text" placeholder="Price" class="price price-bordered w-full max-w-xs" />
</div>

<div align="center">
  <button class="btn" style="background-color: #516951; color: white;">Save</button>
</div>

<!-- <app-footer></app-footer> -->