<!-- <div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="">daisyUI</a>
  </div>
  <div class="flex-none">
   
  </div>
</div> -->

<div class="center">Profile</div>

<!-- <div class="avatar placeholder">
  <div class="bg-neutral-focus text-neutral-content rounded-full w-24">
    <span class="text-3xl">K</span>
  </div>
</div>  -->

<div>
  <br>
  <hr>
  <br>
</div>

<!-- <div class="form-control w-full max-w-xs">
 
    <span class="label-text">Phone Number</span>
    
  <input type="text" placeholder="Type here" class="phone phone-bordered w-full max-w-xs" />

</div>

<div class="form-control w-full max-w-xs">
  
    <span class="label-text">Email Address</span>
  
  <input type="text" placeholder="Type here" class="email email-bordered w-full max-w-xs" />
  <label class="label">
  
  </label>
</div>

<div class="form-control w-full max-w-xs">
  
    <span class="label-text">Residential Address</span>
  
  <input type="text" placeholder="Type here" class="res res-bordered w-full max-w-xs" />
</div> -->
<!-- 
<div>
  <br>
  <hr>
</div> -->

<form>
 
  <label class="phone"  for="name"> Phone Number: </label>

  <input class="p" type="number" id="phone" />
</form>

<form>
  <label class="email" for="name"> Email Address: </label>
  <input class="p" type="e" id="email" />
</form>

<form>
  <label class="address"  for="name"> Residential Address: </label>
  <input class="p" type="r" id="address" />
</form>


<br><hr><br>

<form>
  <label class="status"  for="name"> Status: </label>
  <input class="s" type="text" id="name" placeholder =" Not verified" />
</form>

<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="move label-text">ID document</span>
  </label>
  <input type="file" class="file file-input-bordered w-full max-w-xs" />
</div>
<br>
<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="move label-text">Dept Agri Certification</span>
  </label>
  <input type="file" class="file file-input-bordered w-full max-w-xs" />
</div>

<br><div align="center">
  <button class="btn" style="background-color: #516951; color: white;  height:50px;
  width:200px;">Save</button>
</div>
