
          
                <div class="contact-box">
                    <div class="contact-links" style="background-color: #516951;">
                      <h1>Get in touch</h1>
                      <div class="links">
                        <div class="link">
                          <a href="https://www.facebook.com/profile.php?id=100089998164734"><img src="https://img.freepik.com/free-psd/3d-square-with-facebook-logo_125540-1565.jpg" style="border-radius: 9px;" alt="facebook"></a>
                        </div>
                        <div class="link">
                          <a href="https://api.whatsapp.com/send?phone=0615449366"><img src="https://img.freepik.com/free-psd/glowing-whatsapp-logo-realistic-3d-circle_125540-2095.jpg?w=1480&t=st=1676367004~exp=1676367604~hmac=9a0f813327e97e015abdc706d09cd40c7ed7d84a66b49042b7ed7d66d7932c21" style="border-radius: 9px;" alt="whatsApp"></a>
                        </div>
                        <div class="link">
                          <a><img src="https://img.freepik.com/premium-vector/support-service-consultation-telemarketing-consultant-secretary-live-chat-banner-white-background-flat-banner-vector-illustration_476325-26.jpg?w=1480" style="border-radius: 9px;" alt="codepen"></a>
                        </div>
                        <div class="link">
                          <a><img src="https://img.freepik.com/free-vector/vector-icon-blue-envelope-isolated-background_134830-1232.jpg?w=1480&t=st=1676367450~exp=1676368050~hmac=8c82e2da85f6f543f589d67bf5f9e27de20fbf90103fb0958d6266436181212b" style="border-radius: 9px;" alt="email"></a>
                        </div>
                      </div>
                    </div>
            <div class="contact-form-wrapper" style="background-color: #516951; padding-bottom: 15px; padding-right: 20px;">

            <form [formGroup]="form" (ngSubmit)="onSubmit()">
           

            <div class="form-item">
                <input type="" placeholder="" formControlName="subject" required>
                <label>Subject:</label>
              </div>
              <div class="form-item">
                <input type="" placeholder="" formControlName="to" required>
                <label>Email:</label>
              </div>
              <div class="form-item">
                <textarea class="" name=""  formControlName="message" required></textarea>
                <label>Message:</label>
              </div>

              <button class="submit-btn btn-sm" style="background-color: #FED607;" type="submit">Send</button>  <br><br>
            </form>
          </div>
            </div>