
#contact {
    background-color:#516951; 
     
      display: flex;
      justify-content: center;
      align-items: center;
      
     
    }
    
    .contact-box {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
      justify-content: flex-end;
      margin-bottom: 0%;
    
    }
    
    .contact-links, .contact-form-wrapper {
      width: 50%;
      padding-top:20px;
     bottom: 0;
    
    }
    
    
    .contact-links {
      background-color: #1f2e43;
      background:
        radial-gradient(
          circle at 55% 92%, #319564 0 12%, transparent 12.2%
        ), 
        // radial-gradient(
        //   circle at 94% 72%, hsl(154, 35%, 45%) 0 10%, transparent 10.2%
        // ), 
        radial-gradient(
          circle at 20% max(78%, 350px), hsl(151, 44%, 35%) 0 7%, transparent 7.2%
        ), 
        radial-gradient(
          circle at 0% 0%, hwb(131 47% 32%) 0 40%, transparent 40.2%
        ), 
        #1f2e43;
        padding-top:20px;
      margin-top: 10px;
      // margin-bottom: 15px;
    
    }
    
    .contact-form-wrapper {
      background-color: #ffffff8f;
      padding-top:20px;
      margin-top: 10px;
      justify-content: center; 
    }
    
    @media only screen and (max-width: 800px) {
      .contact-links, .contact-form-wrapper {
        width: 100%;
        justify-content: relative;
      }
      
    }
    
    @media only screen and (max-width: 400px) {
      .contact-box {
        width: 100%;
        // margin: 8% 5%;
      }
    }
    
    h1 {
      font-family: 'Arimo', sans-serif;
      color: #fff;
      font-size: 16px;
      letter-spacing: 2px;
      text-align: center;
    }
    
    .links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 50px;
    }
    
    .link {
      margin: 10px;
      cursor: pointer;
    }
    
    img {
      width: 45px;
      height: 45px;
      filter: 
        hue-rotate(220deg)
        drop-shadow(2px 4px 4px #0006);
      transition: 0.2s;
      user-select: none;
    }
    
    img:hover {
      transform: scale(1.1, 1.1);
    }
    
    img:active {
      transform: scale(1.1, 1.1);
      filter: 
        hue-rotate(220deg)
        drop-shadow(2px 4px 4px #222)
        sepia(0.3);
    }
    
    .form-item {
      position: relative;
    }
    
    label, input, textarea {
      font-family: 'Poppins', sans-serif;
    }
    
    label {
      position: absolute;
      top: 10px;
      left: 2%;
      color: #000;
      font-size: 12px;
      pointer-events: none;
      user-select: none;
    }
    
    input, textarea {
      width: 100%;
      outline: 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 20px;
      padding: 12px;
      font-size: clamp(15px, 1.5vw, 18px);
    }
    
    input:focus+label, 
    input:valid+label, 
    textarea:focus+label, 
    textarea:valid+label {
      font-size: clamp(13px, 1.3vw, 16px);
      color: #fff;
      top: -20px;
      transition: all .225s ease;
    }
    
    .submit-btn {
      background-color: #fd917e;
      filter: drop-shadow(2px 2px 3px #0003);
      color: #fff;
      font-family: "Poppins",sans-serif;
      font-size: clamp(16px, 1.6vw, 18px);
      display: block;
      margin: 2px auto;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      user-select: none;
      transition: 0.2s;
    }
    
    .submit-btn:hover {
      transform: scale(1.1, 1.1);
    }
    
    .submit-btn:active {
      transform: scale(1.1, 1.1);
      filter: sepia(0.5);
    }
    
    @media only screen and (max-width: 800px) {
      h2 {
        font-size: clamp(40px, 10vw, 60px);
      }
      
    }
    
    @media only screen and (max-width: 400px) {
      h2 {
        font-size: clamp(30px, 12vw, 60px);
        form-item{
            justify-content: center;
          }
      }
      
      .links {
        padding-top: 30px;
      }
      
      img {
        width: 38px;
        height: 38px;
      }
    }
    
    
    