<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">daisyUI</a>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">

      <!-- The button to open modal -->
      <label for="my-modal-5" class="btn btn-ghost btn-circle">
        <div class="indicator">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
            </svg>
          <span class="badge badge-sm indicator-item">8</span>
        </div>
      </label>

      <!-- Put this part before </body> tag -->
      <input type="checkbox" id="my-modal-5" class="modal-toggle" />


      <div class="modal">
        <div class="modal-box w-11/12 max-w-1xl max-h-5xl">


          <div class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body">
             <h1>Mokone Precious</h1>
              <div class="chat chat-start">
                <div class="chat-image avatar">
                  <div class="w-10 rounded-full">
                    <img src="https://images.unsplash.com/photo-1675353578262-dde64ecd6564?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3387&q=80" />
                  </div>
                </div>
                <div >
                  <div class="chat-bubble">It was said that you would, destroy the Sith, not join them.</div>
                  <!-- <div class="chat-bubble chat-bubble-error">It was said that you would, destroy the Sith, not join them.</div>
                  <div class="chat-bubble chat-bubble-warning">It was said that you would, destroy the Sith, not join them.</div>
                  <div class="chat-bubble chat-bubble-success">It was said that you would, destroy the Sith, not join them.</div>
                  <div class="chat-bubble chat-bubble-info">It was said that you would, destroy the Sith, not join them.</div> -->
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>



    </div>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="/images/stock/photo-1534528741775-53994a69daeb.jpg" />
        </div>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>












