/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// @import "~ngx-spinner/animations/ball-atom.css";

:root{
    --main-green:#516951;
    --white:#ffffff;
    --gray:#d9d9d9;
    --gray-dark:#7e7c7c;
    --yellow:#fed607;
    --yellow-dark:#cdae3f;
    --black:#000000;
    --brown:#625141;
    --red:#c30a0a;
    --blue:#3e6ecb;
    --main-hover:#718171;
}


.success-snackbar {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
.danger-snackbar {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}
.warning-snackbar {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
