<div class="heading bold">
    <h1>Notifications</h1>
</div>
<div class="card card-compact w-96 mx-auto bg-base-100 shadow-xl">
    <figure><img src="/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Shoes!</h2>
      <p>If a dog chews shoes whose shoes does he choose?</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Buy Now</button>
      </div>
    </div>
  </div>
<div class="card-all space-y-4  flex-wrap w-fit mx-auto gap-4 ">
    <div class="card w-101  mx-auto bg-base-100 shadow-2xl mt-2">
        <div class="card-body">
            <!-- <img style="border-radius: 50%;" src="../../assets/bg1.jpeg" />
            <h1 class="card-name mx-auto font-bold">Felicia Mahlangu</h1>
            <p class="mx-4">Has approved your request for buying a sheep</p>
            <a><i class="fas fa-trash pt-4 icon-accent"></i></a> -->

            <div class="grid grid-cols-3 gap-">
                <div>
                    <img class="" src="../../assets/bg1.jpeg" />
                </div>
                <div>
                    <h1 class="card-name mx-auto font-bold">Felicia Mahlangu</h1>
                    <p class="mx-4">Has approved your request for buying a sheep</p>
                </div>
                <div>
                    <a><i class="fas fa-trash pt-4 icon-accent"></i></a>
                </div>
              </div>
<!--          
          <div class="avatar placeholder ">
            <div class="bg-neutral-focus text-neutral-content rounded-full w-24">
              <span class="text-3xl">K</span>
              <h1 class="card-name mx-auto font-bold">Felicia Mahlangu</h1>
            </div>
            <p class="mx-4">Has approved your request for buying a sheep</p>
            <a><i class="fas fa-trash pt-4 icon-accent"></i></a>
          </div>   -->
          
    
        </div>
      </div>
    
      <div class="card w-96 mx-auto bg-white shadow-2xl mt-2">
        <div class="card-body">
            <div class="grid grid-cols-3 gap-">
                <div>
                    <img class="" src="../../assets/bg1.jpeg" />
                </div>
                <div>
                    <h1 class="card-name mx-auto font-bold">Felicia Mahlangu</h1>
                    <p class="mx-4">Has approved your request for buying a sheep</p>
                </div>
                <div>
                    <a class="icon"><i class="fas fa-trash pt-4 icon-accent"></i></a>
                </div>
          </div> 
    
        </div>
      </div>
    
      <div class="card w-96 mx-auto bg-base-100 shadow-2xl mt-2">
        <div class="card-body">
            <!-- <img style="border-radius: 50%;" src="../../assets/bg1.jpeg" />
            <h1 class="card-name mx-auto font-bold">Felicia Mahlangu</h1>
            <p class="mx-4">Has approved your request for buying a sheep</p>
            <a><i class="fas fa-trash pt-4 icon-accent"></i></a> -->

            <div class="grid grid-cols-3 gap-">
                <div>
                    <img class="" src="../../assets/bg1.jpeg" />
                </div>
                <div>
                    <h1 class="card-name mx-auto font-bold">Felicia Mahlangu</h1>
                    <p class="mx-4">Has approved your request for buying a sheep</p>
                </div>
                <div>
                    <a><i class="fas fa-trash pt-4 icon-accent"></i></a>
                </div>
              </div>
<!--          
          <div class="avatar placeholder ">
            <div class="bg-neutral-focus text-neutral-content rounded-full w-24">
              <span class="text-3xl">K</span>
              <h1 class="card-name mx-auto font-bold">Felicia Mahlangu</h1>
            </div>
            <p class="mx-4">Has approved your request for buying a sheep</p>
            <a><i class="fas fa-trash pt-4 icon-accent"></i></a>
          </div>   -->
          
    
        </div>
      </div>
</div>

