
<body>
    <section class="clean-block clean-form dark" style="background: #fff;">
        <div class="container" style="background: #fff;">
            <div class="block-heading" style="padding-top: 0px;">
                <h2 class="text-primary" style="border-color: #516951;"><span style="color: rgb(81, 105, 81);">Edit Livestock</span><br></h2>
            </div>
            <form style="max-width: 700px; border-color: var(--bs-white);" role="form"  [formGroup] = "AddLivestockForm" novalidate>
                <div class="form-group mb-3">
                  <select  class="form-select" required="" name="location" formControlName="categoryID" placeholder="Select Livestock" style="border-width: 2px;border-color: #516951;" (change)="checkSelected($event)">
                      <option value="" selected disabled hidden>Select Livestock</option>
                      <option  *ngFor="let cat of category" value="{{cat.categoryID}}">{{cat.categoryName}}</option>
                  </select>
                  </div>
                <div class="form-group mb-3">
                  <select class="form-select" required="" name="location" formControlName="breedID" style="border-width: 2px;border-color: #516951;">
                      <option  value="" selected disabled hidden>Select Breed</option>
                      <option  *ngFor="let br of breed" value="{{br.breedID}}" >{{br.breedName}}</option>
                  </select>
               </div>
              <div class="form-group mb-3">
                  <div class="form-group mb-3"><select class="form-select" required="" formControlName="price" name="gender" style="border-width: 2px;border-color: #516951;">
                    <option class="disabled selected">Gender</option>
                            <option>Male</option>
                            <option>Female</option>
                      </select></div>
              </div>
                <div class="form-group mb-3">
                  <input class="form-control" type="text" autocomplete="off" required=""  formControlName="age" placeholder="Months" name="age" style="border-width: 2px;border-color: #516951;">
                </div>
                <div class="form-group mb-3">
                  <input class="form-control" type="text" autocomplete="off" required="" formControlName="weight" placeholder="Weight" name="weight" style="border-width: 2px;border-color: #516951;">
                </div>
                <div class="form-group mb-3">
                  <input class="form-control" type="text" autocomplete="off" required="" formControlName="price" name="price" style="border-width: 2px;border-color: #516951;">
                </div>
                
                <div class="color form-group mb-3"><label class="form-label" style="margin-top: 15px;height: 25px;">Livestock Image</label>
                    <section>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="file-upload-wrapper">
                                        <div class="view file-upload" style="padding-bottom: 7px;padding-right: 4px;height: 60px;border-width: 2px;border-color: #516951;">
                                          <input class="form-control file_upload" type="file" id="input-file-now" (change)="onFileChange($event)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <hr style="margin-top: 30px;margin-bottom: 10px;">
                <div class="form-group mb-3">
                  <button class="btn btn-primary d-block w-100" id="submitButton" [disabled]="update_dp.invalid" (click)="addLivestock()" type="submit" style="background: #516951;border-color: var(--bs-white);">&nbsp;Save</button>
                  <a class="btn btn-danger d-block w-100" role="button" style="margin-top: 15px;">&nbsp;Cancel</a>
                </div>
            </form>
        </div>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="assets/js/Ludens---2-Create-with-Summernote-1.js"></script>
    <script src="assets/js/Ludens---2-Create-with-Summernote.js"></script>
  </body>
  
  